*{box-sizing: border-box;}
body{
    /* height: 100vh; */
    margin: 0;  
    font-family: "Segoe UI";
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
    margin-top: 100px;
}
.yellow
{
    background-color: yellow;
}




