<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
<div id="app">
    <div class="container"  v-if="2==1">
       
        <div   >
            <div class="anmelden"><h1>Anmelden</h1></div>
            <span>Benutzername</span>
            <div class="inputWithIcon">
                <input type="text" placeholder="Benutzername eingeben">
                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <span>Passwort</span>
            <div class="inputWithIcon">
                <input type="text" placeholder="Passwort eingeben">
                <i class="fa fa-lock-alt fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <div class="passVergessen">
               <a href="" style="text-decoration: none;color: #37424c;">Passwort vergessen?</a>
            </div>
            <div class="btn">
                <button class="btn-primary">Anmelden</button>
            </div>
            <div class="unten">
                <span>Sie haben kein Konto?</span>
                <a href="" style="color: #1ca3ea;" >Jetz registrieren</a>
            </div>
           
        </div>
    </div>
    <div class="container" v-if ="2==2">
   <div class="dashbord" >
       <h1>Dashbord</h1>

    
    <div class="bottom">
        <div><p><b>Vorname</b></p>|<p><b>Nachname</b></p>|<p><b>Alter</b></p></div>
        <template v-for="x in 5">
            <div>
                <p>Max</p>|<p>Mustermann</p>|<p>29</p>
            </div>
            
        </template>
     
        
       
    </div>
    </div>
   </div>
</div>


    <script src="script.js"></script>
</body>
</html>