<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

</head>
<body>
<div id="app">
    <div class="container"  v-if="step==1">
       

        <div class="anmelden"><h1>Anmelden</h1></div>
            <span>Benutzername</span>
            <form action="">
                <div class="inputWithIcon">
                    <input id="inputName" type="text" placeholder="Benutzername eingeben" @focus ="check()" required>
                    <i id="i" class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <span>Passwort</span>
                <div class="inputWithIcon">
                    <input id="inputPass" type="password" placeholder="Passwort eingeben" >
                    <i id="i2" class="fa fa-lock-alt fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div class="passVergessen">
                    <a href="" style="text-decoration: none;color: #37424c;" >Passwort vergessen?</a>
                </div>
                    <div class="btn">
                        <button class="btn-primary" @click="next()">Anmelden</button>
                    </div>
                    <div class="unten">
                        <span>Sie haben kein Konto?</span>
                        <a href="" style="color: #1ca3ea;" >Jetz registrieren</a>
                    </div>
            </form>
        
           
       
    </div>
    <div class="container" v-if ="step==2">
        <div class="dashbord" >
            <h1>Dashbord</h1>

            
            <div class="bottom">
                <div><p><b>Vorname</b></p><p><b>Nachname</b></p><p><b>Alter</b></p></div>
                <template v-for="x in nutzer">
                    <div>
                        <p>{{x.vorname}}</p><p>{{x.nachname}}</p><p>{{x.alter}}</p>
                    </div>
                    
                </template>
            
                <div style="display: flex;justify-content:flex-start ;" ><a href="#" style="text-decoration: none;" @click="abmelden()">abmelden</a></div>
            
            </div>
            </div>
    </div>
</div>


    <script src="script.js"></script>
</body>
</html>