@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{box-sizing: border-box;}


body
{
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(88,101,185);
    background: linear-gradient(90deg, rgba(88,101,185,1) 0%, rgba(28,145,226,1) 50%, rgba(34,220,253,1) 100%);
   
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
}

button
{
    outline: none;
    border: none;
    padding: 13px 25px;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}

.btn-primary
{
    background-color: dodgerblue;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}
.btn-primary:hover
{
    background-color: rgb(27, 125, 223);
}

.container
{
    width: 400px;
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0,39,71,0.35);
    padding: 40px;

    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.container>div
{
  

    display: flex;
    flex-direction: column;
}

.anmelden
{
  
    display: flex;
    justify-content:center;
    align-items: center ;
    margin-bottom: 20px;
    
}
.container span
{
    font-size: 0.8em;
    color: #1d2125;
    margin-bottom: 5px;
    
}
.inputWithIcon>input
{
    width:100%;
    border: none;
    border-bottom: 1px solid #aaa;
    color: #8fa4b7;
    margin: 8px 0;
    outline: none;
    padding:8px;
    box-sizing: border-box;
    transition: .1s;
}
.inputWithIcon>input:focus
{
    border-bottom:1px solid dodgerBlue;
   
   
}
.inputWithIcon>input:focus + i
{
    color: dodgerBlue;
    
}
.inputWithIcon input
{
    padding-left: 40px;
}
.inputWithIcon
{
    position: relative;
}
.inputWithIcon i
{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
}
.passVergessen
{
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    margin-bottom: 25px;
}

.unten
{
    font-size: 0.7em;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a2
{
    color: dodgerblue;
}
/* /////////////////DASHBORD /////////////////*/

.dashbord
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottom>div
{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 margin-bottom: 5px;
}


.bottom>p
{
    
    width: 33.33%;
    
}
.bottom
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
